services:
  - type: web
    name: controle-dieta-backend
    env: node
    buildCommand: npm install
    startCommand: npm start
    rootDir: server
    envVars:
      - key: PORT
        value: 3000
      - key: NODE_ENV
        value: production

